/* Style the tab */
.tab {
    margin-top: 50px;
  overflow: hidden;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 3rem;
  color:black;
}

::-webkit-scrollbar-track {
  background: rgb(228, 228, 228);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* .tablinks {
  margin-left: 100px;
} */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: black;
  color: white
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

@media only screen and (max-width: 1000px) {
  .tablinks {
    margin: 10px auto;
    width: 80%
  }

.tab button {
  background-color: rgb(241, 241, 241);

}
  .tab {width: 100%;
margin-top: 25px;
    display: grid;
  }

}